<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lập Lịch Chuyến Bay</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <style>
        body {
            background-color:lightblue;
        }
        .my-div{
            float: left;
        }
    </style>
</head>
<body>
<div class="container">
    <div align="center">
        <h1>LỊCH CHUYẾN BAY</h1>
    </div>
    <div class="row, m-4">
        <label class="input-group-text, col-md-2">Mã chuyến bay:</label>
        <input type="text" class="form-control, col-md-3">
        <label class="input-group-text, col-md-2">Ngày bay:</label>
        <input type="date" class="form-control, col-md-3">
    </div>
    <div class="row, m-4">
        <label class="input-group-text, col-md-2">Sân bay đi:</label>
        <input type="text" list="categories" class="col-md-3">
        <datalist id="categories">
            <option>Hà Nội</option>
            <option>Hồ Chí Minh</option>
            <option>Hải Phòng</option>
        </datalist>
        <label class="input-group-text, col-md-2">Sân bay đến:</label>
        <input type="text" list="categories" class="col-md-3">
        <datalist id="categories2">
            <option>Hà Nội</option>
            <option>Hồ Chí Minh</option>
            <option>Hải Phòng</option>
        </datalist>
    </div>
    <div class="row, m-4">
        <label class="input-group-text, col-md-2">Giờ khởi hành:</label>
        <input type="time" class="form-control, col-md-3">
        <label class="input-group-text, col-md-2">Thời gian bay:</label>
        <input type="time" class="form-control, col-md-3">
    </div>
    <div class="row, m-4">
        <label class="input-group-text, col-md-2">Số lượng hàng ghế 1:</label>
        <input type="text" class="form-control, col-md-3">
        <label class="input-group-text, col-md-2">Số lượng hàng ghế 2:</label>
        <input type="text" class="form-control, col-md-3">
    </div>
    <div class="container mt-3">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>STT</th>
                <th>Sân bay trung gian</th>
                <th>Thời gian dừng</th>
                <th>Ghi chú</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container, m-4, p-2" style="background-color:red" align="center">
        <label><strong>* Qui định:</strong> Thời gian bay tối thiểu 30 phút, có tối đa 2 sân bay trung gian, thời gian
            dừng từ 20 – 30 phút.</label>
    </div>
    <div class="m-2" align="right">
        <button type="button" class="btn btn-primary">Thoát</button>
        <button type="button" class="btn btn-success">Xác nhận</button>
    </div>
</div>
</body>
</html>